<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <script src="/scripts/angular.min.js" type="text/javascript"></script>
    <script src="/scripts/jquery-3.1.0.min.js" type="text/javascript"></script>
    <link href="/scripts/bootstrap.min.css" rel="stylesheet">
    <link href="/scripts/styles.css" rel="stylesheet">
    <script type="text/javascript">
        var messageList = [{ name : "Greeting", msg : "This is a work in progress angular/socket chat project"}];
//        var event = new CustomEvent('angMsg', { detail: 'none'});
//        window.addEventListener('angMsg');
//        var socket;

        
//        function init () {
//            var connect = document.querySelector("#connect");
//            connect.addEventListener('click', connectSocket);
//        };
//        function connectSocket () {
//            var chat = document.querySelector("#chat");
//            var input = document.querySelector("#message");
//            socket = io.connect();
            //listener for connect event
//            socket.on('connect', function() {
//            console.log('connecting');
//
//            var user = document.querySelector("#username").value;
////            if(!user) {
////            user = 'unknown';
////            }
////            socket.emit('join', { name: user });
////            });
//            //listener for msg event
////            socket.on('msg', function(data) {
//////                var node = document.createElement("LI");
//////                var textNode = document.createTextNode(data);
//////                node.appendChild(textNode);
//////                document.getElementById("chat").innerHTML += data.msg;
////                messageList.push({ name : data.name, msg : data.msg });
////                console.log(messageList);
//////                window.dispatchEvent(event);
////                $scope.updateChat();
////            });
//            
//         
//            
//            var send = document.getElementById("send");
//            send.addEventListener("click", function () { 
//                socket.emit("msgToServer", {
//                    msg : input.value 
//                }
//               );
//            });
//        };
//        var event = document.createEvent('angMsg');
        
        var ang = angular.module("myChat", []);
       
//        
//        ang.directive("parsedText", function () {
//            return {
//                restrict: 'EA',
//                scope : true,
//                controller : function ($scope) {
//                    var text = $scope.messages[$scope.messages.length - 1].msg;
//                    if (text.search(".jpg") > -1 || text.search(".png") > -1 || text.search(".jpeg")) {
//                        return {
//                            template : ' <img src = "' + text + '" /> '
//                        };
//                    } else {
//                        return {
//                            template : '{{ x.msg }}'
//                        };
//                    }
//                },
//            };
//        });
        
        ang.controller('chatCtrl', function($scope, socket) {
//            angular.element($window).on("angMsg", updateChat);
//            $scope.messages = messageList; 
            $scope.curMessage;
            $scope.curUser;
            
            $scope.isImage = function (text) {
//                var lowText = text.toLowerCase();
//                if (lowText.search(".jpg") > -1 || lowText.search(".png") > -1 || lowText.search(".jpeg") > -1 || lowText.search(".gif") > -1) {
//                    return true;
//                }
//                return false;
                var split = text.split(" ");
                var imgRx = /\.(jpg|jpeg|png|gif)+/i;
                console.log(split);
                for (var i = 0; i < split.length; i++) {
                    if (split[i].match(imgRx)) {
                        return split[i];
                    }
                }
                return "";
            };
            
            $scope.isVideo = function (text) {
                var linkHelper = function (url) {
                    var vidId;
                    if (url.search("\\?v\\=") > -1) {
                        vidId = url.substring(url.search("\\?v\\=") + 3);
                    } else {
                        vidId = url.substring(url.search("be\/") + 3);
                    }
                    console.log(vidId);
                    return vidId;
                };
                
                var split = text.split(" ");
                for (var i = 0; i < split.length; i++) {
                    if (split[i].search("https://youtu.be/") > -1 || split[i].search("https://www.youtube.com/watch") > -1) {
                        return "https://www.youtube.com/embed/" + linkHelper(split[i]);
                    }
                }
                return "";
            };
            
            $scope.parseVideo = function (text) {
                
            };
            $scope.updateChat = function () {
                $scope.messages = messageList;
                console.log("stuff");
            };
            
            
            $scope.connect = function () {
//                socket = io.connect();
                socket.emit('connection');
                
                socket.emit('join', { name: $scope.curUser });
                
                
//            var send = document.getElementById("send");
//            send.addEventListener("click", function () { 
//                socket.emit("msgToServer", {
//                    msg : input.value 
//                }
//               );
//            });
                $scope.send = function () {
                    var myVideo, myImage, myMessage = $scope.curMessage;
                    var myImage = $scope.isImage(myMessage);
                    var myVideo = $scope.isVideo(myMessage);
                     socket.emit("msgToServer", {
                        msg : myMessage,
                        img : myImage,
                        vid : myVideo
                    });
                    $scope.curMessage = "";
                };
                console.log('connecting');
                

//            var user = document.querySelector("#username").value;
//            if(!user) {
//            user = 'unknown';
//            }
//            socket.emit('join', { name: user });
//            });
            //listener for msg event
//            socket.on('msg', function(data) {
////                var node = document.createElement("LI");
////                var textNode = document.createTextNode(data);
////                node.appendChild(textNode);
////                document.getElementById("chat").innerHTML += data.msg;
//                messageList.push({ name : data.name, msg : data.msg });
//                console.log(messageList);
////                window.dispatchEvent(event);
//                $scope.updateChat();
//            });
            
             socket.on('msg', function(data) {
//                var node = document.createElement("LI");
//                var textNode = document.createTextNode(data);
//                node.appendChild(textNode);
//                document.getElementById("chat").innerHTML += data.msg;
                messageList.push({ name : data.name, msg : data.msg, img: data.img, vid: data.vid });
                console.log(messageList);
//                window.dispatchEvent(event);
                $scope.updateChat();
            });
         
            
            };
            
            
            
        });
        
        ang.factory('socket', function($rootScope) {
//            var socket = io.connect(); // Connection to the server socket
            var socket = io.connect();
            
            return {
                on: function(eventName, callback) { // Return callback to the actual function to manipulate it.
                    socket.on(eventName, function() { 
                        var args = arguments;   
                        $rootScope.$apply(function() {
                            callback.apply(socket, args);
                        });
                    });
                },
                emit : function (eventName, data) {
                    socket.emit(eventName, data);
                }
            };
        });
        
//        window.onload = init;
//        ang.directive('angDirective', function($window, $scope) {
//            angular.element($window).on('angMsg', updateChat);
//            $scope.messages = messageList;
//            function updateChat() {
//                $scope.messages = messageList;
//            }
//            
//        });
    </script>
<!--    <script src="/scripts/test.js"></script>-->
    <!-- import the websocket client library. You can code websockets from scratch
         but we will just import a library. In this case we are using socket.io which is 
         one of the most popular and feature rich websocket libraries.
         
         You can point the src for the script to any host online, but
         by default the socket.io nodejs library will host the client library
         online at your node.js address under /socket.io/socket.io.js 
         You can disable that on the server if desired
    -->
	<style>
		textarea {
			display: block;
			background-color: #EEEEEE;
		}
	</style>
</head>
<body>
	<div id="chatWindow" ng-app="myChat" ng-controller="chatCtrl">
        <label for="user">Username:</label>
        <input id="username" name="user" type="text" ng-model="curUser"/>
        <input id="connect" type='button' value='connect' ng-click="connect()"/>
        </br>
        <label for="message">Message:</label>
        <input id="message" name="message" type="text" ng-keypress="$event.keyCode == 13 && send()" ng-model="curMessage"/>
        <input id="send" type="button" value="send"  ng-click="send()" />
        <div ng-repeat="x in messages">
            <div class="row">
                <!-- Server text -->
                <div class="col-sm-12 bg-primary text-left" ng-if="x.name == 'server'">
                    {{ x.msg }}
                </div>
                <!-- User text -->
                <div class="messagebox col-sm-12 text-muted" ng-if="x.name == curUser" >
                    <div>
                        {{ x.msg }}
                    </div>
                    <div ng-if="x.img.length > 0">
                        <button data-toggle="collapse" data-target="{{ '#' + $index + 'image' }}">Show Image</button>
                        <img id="{{ $index + 'image' }}" class="img-rounded collapse" ng-if="x.img.length > 0" src="{{ x.img }}" />
                    </div>
                    <iframe ng-if="x.vid.length > 0" src="{{ x.vid }}"></iframe>
                </div>
                <!-- Responder text -->
                <div class="text-primary text-left" ng-if="x.name != 'server' && x.name != curUser">
                    <div class="bg-success col-sm-2">
                        {{ x.name + ": " }}
                    </div>
                    <div class="messagebox col-sm-10">
                        <div>
                            {{ x.msg }}
                        </div>
                        <div ng-if="x.img.length > 0">
                            <button data-toggle="collapse" data-target="{{ '#' + $index + 'image' }}">Show Image</button>
                            <img id="{{ $index + 'image' }}" class="img-rounded collapse" ng-if="x.img.length > 0" src="{{ x.img }}" />
                        </div>
                        <iframe ng-if="x.vid.length > 0" src="{{ x.vid }}"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/scripts/bootstrap.min.js" type="text/javascript"></script>
<!--	<textarea id="chat" rows="20" cols="40" readonly> </textarea>-->
</body>
</html>